.el-icon {
  &-error {
    @apply material-icons;
    &:after{
      display: inline-block;
      content: "cancel";
    }
  }
  &-close {
    @apply material-icons;
    &:after{
      display: inline-block;
      content: "close";
    }
  }
}