@layer components {
  .btn {
    @apply h-8 text-base font-medium rounded-lg px-3 py-0 bg-white text-blue-400 border border-gray-300 transition duration-500;
    &:disabled {
      @apply opacity-50 cursor-default;
    }
    &:enabled {
      &:hover {
        @apply text-blue-700 border-blue-700
      }
    }
  }
}
