@layer components {
  .button-group {
    display: inline-block;

    .button {
       float: left;
       border-radius: 0px;
       &:first-of-type {
         @apply rounded-l;
       }
       &:last-of-type {
         @apply rounded-r;
       }
       &:not(:last-of-type) {
         @apply border-r-0;
       }
    }

    &::after {
      content: "";
      display: block;
      clear: both;
    }
  }
}